
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <li><a href="<%=edit_user_registration_path%>"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="<%= wishlists_path%>"><i class="fa fa-heart"></i> Wishlist</a></li>
                            <li><%=link_to current_cart do %>
                                <i class="fa fa-user"></i> My Cart
                                <%end%>
                            </li>
                            <li><a href="<%=checkout_path%>"><i class="fa fa-user"></i> Checkout</a></li>
                            <%if user_signed_in?%>
                            <li>
                            <%= link_to destroy_user_session_path, method: :delete do%>
                            <i class="fa fa-user"></i> Logout</li>
                            <%end%>
                            <%else%>
                            <li><a href="<%=new_user_session_path%>"><i class="fa fa-user"></i> Login</a></li>
                            <%end%>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">currency :</span><span class="value">USD </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">INR</a></li>
                                    <li><a href="#">GBP</a></li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language :</span><span class="value">English </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="<%=root_path%>"><img src="/assets/logo.png"></a></h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="shopping-item">
                        <a href="<%=cart_path(current_cart)%>">Cart - <span class="cart-amunt"><%=current_cart.total_price%></span> <i class="fa fa-shopping-cart"></i> <span class="product-count"><%=current_cart.total_quantity%></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<%=root_path%>">Home</a></li>
                        <li><a href="<%=products_path%>">Shop page</a></li>
                        <li><a href="<%=checkout_path%>">Checkout</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->
