<div class="col-md-4">
                     
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="">
                            <input type="text" placeholder="Search products...">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        <%@random_product.each do|product|%>
                        <div class="thubmnail-recent">
                            <%=image_tag product.image.url(:thumb), class:'recent-thumb'%>
                            <h2><%=link_to product.name, product_path(product)%></h2>
                            <div class="product-sidebar-price">
                                <ins><%=product.price%></ins>
                            </div>                             
                        </div>
                        <%end%>
                    </div>
                    
                    
            
                    
                   
                </div>